[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

bumpversion = "==0.5.3"
coverage = "==4.4.1"
codecov = ">=2.0.0"
django-model-utils = ">=2.0"
futures = "==3.1.1"  # workaround for circleci
ipython = "*"
isort = "*"
mock = ">=1.0.1"
pre-commit = "*"
prospector = {git = "https://github.com/vintasoftware/prospector.git", ref="0a63f2b", extras = ["with-vulture"]}
pylint = "*"
wheel = "==0.30.0"
tox = "<=2.9.1"
tox-pipenv = "*"
model-mommy = "*"
django = ">=1.11,<1.12"


[packages]

celery = "*"


[requires]

python_version = "3.6"
